* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

.center {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.header {
    width: 100%;
    padding: 0 2%;
    height: 60px;
    background-color: #212343;
}

.header img {
    margin-top: 15px;
}

/* Body */
/* BANNER */

.container-banner {
    width: 100%;
    padding: 0 2%;
    height: 557px;
    background-image: url('../imgs/header_bg.png');
    background-size: cover;
    background-position: center;
}

.container-banner .center {
    height: 100%;
}

/* FORM */

.form {
    padding: 10px;
    width: 400px;
    height: calc(100% + 30px);
    background-color: white;
    float: right;
    position: relative;
    top: -15px;
    border-width: 12px;
    border-color: rgba(120, 120, 120, 0.5);
    border-style: solid;
    background-color: white;
    background-clip: padding-box;
    border-radius: 20px;
}

.form h2 {
    font-weight: normal;
    color: #999999;
    font-size: 21px;
}

.input-container {
    margin-top: 20px;

}

.input-container span,
form p {
    display: inline-block;
    width: 100%;
    color: #BBBBBB;
    font-size: 17px;
}

.form p {
    margin: 15px 0;
}

.input-container input[type=text],
.input-container input[type=email],
.input-container input[type=tel] {
    width: 344px;
    height: 55px;
    border: 1px solid #CCCCCC;
    border-radius: 12px;
    margin-top: 8px;
}

.form input[type=submit] {
    width: 280px;
    height: 56px;
    background-color: #363A6D;
    color: white;
    font-size: 25px;
    border-bottom: 5px solid #4A5097;
    border-radius: 20px;
    cursor: pointer;
}

.form input[type=submit]:hover {
    background-color: #1a1e4e;
    border-bottom: 0px solid #6d74be;
}

.input-submit-container {
    text-align: center;
}

.container-list {
    padding: 30px;
    margin-top: 100px;
    float: left;
    width: 519px;
    height: 270px;
    background-color: rgba(33, 35, 67, 0.7);
    border-radius: 20px;
}


.container-list ul {
    list-style-position: inside;
}

.container-list ul li {
    color: white;
    margin-top: 20px;
}

.container-t {
    padding: 40px 2%;
    background-color: #ddd;
    text-align: center;
    width: 100%;
}



.container-t h2 {
    font-weight: normal;
}

.container-t p {
    width: 100%;
    max-width: 768px;
    display: inline-block;
    text-align: justify;
    margin: 15px 0;
}

.arrow {
    margin: auto;
    position: relative;
    top: 60px;
    width: 40px;
    height: 40px;
    background-image: url('../imgs/arrow.png');
    background-size: 100% 100%;
}

.section-1 {
    padding: 90px 2%;

}


.clear {
    clear: both;
}

.section-1 h2 {
    text-align: center;
    color: #462663;
    font-weight: normal;
}

.container-section {
    margin-top: 40px;
    text-align: center;
}

.container-single {
    float: left;
    width: 33.33%;
    padding: 30px;
}

.container-single p {
    display: inline-block;
    padding: 10px 20px;
    text-align: justify;
}

.container-single img {
    width: 70px;
}

/* Footer */

.footer {
    padding: 80px 0;
    border-top: 4px solid #888888;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin-top: 8px;
    color: #888888;
}

@media screen and (max-width: 1024px) {
    .header {
        width: 100%;
        padding: 15px 0;
        text-align: center;
        height: auto;
    }

    .header img {
        margin: 0;
    }

    .container-banner {
        width: 100%;
        height: auto;
        padding: 40px 2%;
        text-align: center;
    }

    .form {
        margin-top: 30px;
        max-width: 400px;
        padding: 10px;
        display: inline-block;
        width: 60%;
        height: 100%;
        float: right;
        top: 0;
    }

    .container-list {
        padding: 30px 0;
        width: 40%;
        max-width: 500px;
        height: auto;
        float: left;
        margin-top: 30px;
        display: inline-block;
    }

    .input-container input[type=text],
    .input-container input[type=email],
    .input-container input[type=number] {
        width: 100%;
        height: 55px;
    }

    .form input[type=submit] {
        max-width: 280px;
        width: 100%;
        height: 56px;
    }


}

@media screen and (max-width: 768px) {

    .container-t {
        padding-left: 4%;
        padding-right: 4%;
    }

    .container-list {
        margin-top: 0;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .form {
        margin-top: 30px;
        float: none;
        display: inline-block;
        width: 100%;
    }

    .container-single {
        width: 100%;
        max-width: 600px;
        float: none;
        display: inline-block;
        width: 100%;
    }
}
